{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="top_header">
        <div class="header">
        <table class="table" cellspacing="0" cellpadding="10">
            <tr>
                <td align="right"><a href="" class="ok_search_btn">Ok</a></td>
                <td width="500px" align="left"><input type="text" class="search_input_field"></td>
                <td width="200px"></td>
                <td width="70px"><button class="button_cart">Kорзина</button></td>
                <td align="right" width="70px">
                    <form action="{% url 'accounts_app:login' %}" method="get">
                        <button class="button_cart">Вход</button>
                    </form>
                </td>
            </tr>
        </table>
        </div>

        <div class="top_header_hidden">
            <div class="top_head_hidden_btn"><a href="">о магазине</a></div>
            <div class="top_head_hidden_btn"><a href="">оплата и доставка</a></div>
            <div class="top_head_hidden_btn"><a href="">новости</a></div>
            <div class="top_head_hidden_btn"><a href="">акции</a></div>
            <div class="top_head_hidden_btn"><a href="/">на главную</a></div>
        </div>
    </div>


    <div class="div_main_container">

        <div class="left_sidebar">
            <table>
                <h3>КАТАЛОГ</h3>
                <tr><td>мебель</td></tr>
                <tr><td>бытовая техника</td></tr>
                <tr><td>компьютерная техника</td></tr>
                <tr><td>детские товары</td></tr>
                <tr><td>авто</td></tr>
                <tr><td>спорт</td></tr>
                <tr><td>туризм</td></tr>
            </table>
        </div>

        <div class="main_content">
                {% block content %}
                {% endblock %}
        </div>

    </div>

</body>
</html>








