{% extends 'base_accounts.html' %}




{% block content %}
<form action="{% url 'accounts_app:login' %}" method="POST">
    {% csrf_token %}
    <table class="reg_table">
        {% for input in form %}
        <tr><td>{{input.label}}</td><td>{{input}}</td><td>{{input.errors}}</td></tr>
        {% endfor %}
        <tr>
            <td>
                <button class="reg_button" type="button"><a style="text-decoration:none;color:grey;" href="{% url 'accounts_app:register' %}">Регистрация</a></button>
            </td>
            <td><input class="reg_button" type="submit" value="Войти"></td>
        </tr>
        <tr><td colspan="2" align="center">{% for message in messages %}
                                           {{message}}
                                           {% endfor %}
        </td></tr>
    </table>

</form>
{% endblock %}