{% extends 'base_accounts.html' %}




{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <table class="reg_table">
        <tr><td>{{form.username.label}}</td><td>{{form.username}}</td></tr>
        <tr><td>{{form.password.label}}</td><td>{{form.password}}</td></tr>
        <tr>
            <td>
                <button class="reg_button" type="button"><a style="text-decoration:none;color:grey;" href="{% url 'accounts_app:register' %}">Регистрация</a></button>

            </td>
            <td><input class="reg_button" type="submit" value="Войти"></td>
        </tr>
    </table>
    {% for message in messages %}
        {{message.error}}
    {% endfor %}
</form>
{% endblock %}