{% extends 'base_accounts.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <table class="reg_table">
        {% for input in form %}
        <tr><td>{{input.label}}</td><td>{{input}}</td><td>{{input.errors}}</td></tr>
        {% endfor %}
        <tr><td align="center">{% for mes in messages%}{{mes.error}}{% endfor %}</td>
            <td align="center"><input class="reg_button" type="submit" value="Регистрация"></td></tr>
    </table>
</form>



{% endblock %}